{
  "printWidth": 100,
  "arrowParens": "always",
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "parser": "html"
      }
    }
  ]
}
